.app__banner {
  height: 50vh;
  width: 100%;
  background: url(../../assets/banner2.png) center;
  background-size: cover;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner__title {
  font-family: var(--font-base);
  color: var(--color-golden);
  font-size: 5.625rem;
  font-weight: 700;
  line-height: 130%; /* 7.3125rem */
  text-transform: capitalize;
  letter-spacing: 0.225rem;
}
