.app__header{
    background-color: var(--color-black);
}

.app__header-h1{
    font-family: var(--font-base);
    color: var(--color-golden);
    letter-spacing: 0.04em;
    text-transform: uppercase;
    line-height: 117px;
    font-size: 90px;
}

.app__header-img img{
    width: 80%;
}

.tomato, .leafleft, .lemonsliceleft{
    left: 0%;
}

.leafleft, .lemonslice{
    top: 50%;
}

.tomato{
    top: 10%;
    height: 180px;
}

.leafleft{
    height: 100px;
}

.lemonsliceleft{
    top: 80%;
    height: 100px;
    transform: rotate(180deg);
}

.pepper{
    top: 30%;
    left: 20%;
    height: 105px;
}

.lemonslice, .rectangleleft{
    right: 0%;
}

.lemonslice{
    height: 100px;
}

.rectangleleft{
    top: 20%;
    height: 370px;
}

.garliclight{
    top: 52%;
    left: 42%;
}

@media screen and (max-width: 1850px) {
    .garliclight, .pepper{
        display: none;
    }
}


@media screen and (max-width: 1200px) {
    .tomato, .lemonsliceleft{
        height: 110px;
    }

    .tomato{
        top: 9%;
    }  
    
}


@media screen and (max-width: 700px) {
    .app__header-h1{
        line-height: 90px;
        font-size: 75px;
    }

    .tomato, .leafleft, .lemonsliceleft, .lemonslice{
        height: 60px;
    }

    .rectangleleft{
        top: 25%;
        height: 250px;
    }

    .lemonsliceleft{
        top: 76%;
    }
}