.app__header{
    background-color: var(--color-black);
}

.app__header-h1{
    font-family: var(--font-base);
    color: var(--color-golden);
    letter-spacing: 0.04em;
    text-transform: uppercase;
    line-height: 117px;
    font-size: 90px;
}

.app__header-img img{
    width: 80%;
}

.tomato{
    top: 10%;
    left: 0%;
    height: 180px;
}

.pepper{
    top: 30%;
    left: 19%;
    height: 105px;
}

.lemonslice{
    top: 50%;
    right: 0%;
    height: 100px;
}

.rectangleleft{
    top: 20%;
    right: 0%;
    height: 370px;
}

.leafleft{
    top: 50%;
    left: 0%;
    height: 100px;
}

.lemonsliceleft{
    top: 80%;
    left: 0%;
    height: 100px;
    transform: rotate(180deg);
}

.garliclight{
    top: 52%;
    left: 42%;
}

@media screen and (max-width: 900px) {
    .tomato{
        top: 10%;
        left: 0%;
        height: 100px;
    }
    
    .pepper{
        top: 25%;
        left: 58%;
        height: 90px;
    }
    
    .lemonsliceleft{
        top: 80%;
        left: 0%;
        height: 100px;
        transform: rotate(180deg);
    }
    
    .garliclight{
        top: 43%;
        left: 50%;
        height: 170px;
    }
    
}


@media screen and (max-width: 650px) {
    .app__header-h1{
        line-height: 90px;
        font-size: 80px;
    }
    
}

